<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98408602627-j440vradm2htsrtaaj6kljrco774jo0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98408602627-j440vradm2htsrtaaj6kljrco774jo0g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98408602627-dd0paer0mo3g7qr8hfaiu1osd908nv2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCSaQhiXCtifenNZjRwiWXU1CjFV8X5_E</string>
	<key>GCM_SENDER_ID</key>
	<string>98408602627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marchingsoutherners.app</string>
	<key>PROJECT_ID</key>
	<string>jsu-marching-southerners</string>
	<key>STORAGE_BUCKET</key>
	<string>jsu-marching-southerners.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:98408602627:ios:b81f78eafd4f7f96</string>
	<key>DATABASE_URL</key>
	<string>https://jsu-marching-southerners.firebaseio.com</string>
</dict>
</plist>